version: "3"

services:
  front:
    image: wodby/node:$NODE_TAG
    env_file: .env
    container_name: front-nuxt
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    restart: unless-stopped
    command: npm run start
    ports:
      - 4000:$NUXT_PORT
    labels:
      - 'traefik.port=${NUXT_PORT}'
      - 'traefik.enable=true'
      - 'traefik.backend=node'
      - 'traefik.frontend.priority = 10'
      - 'traefik.docker.network=nyx'
      - 'traefik.frontend.rule=Host:${PROJECT_BASE_URL}'
    networks:
      - nyx

    portainer:
      image: portainer/portainer
      container_name: 'portainer'
      command: --no-auth -H unix:///var/run/docker.sock
      networks:
        - nyx
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock    
      labels:
        - 'traefik.backend=portainer'
        - 'traefik.port=9000'
        - 'traefik.docker.network=nyx'
        - 'traefik.frontend.rule=Host:portainer.${PROJECT_BASE_URL}'

  traefik:
    image: traefik
    container_name: traefik
    command: --web --docker --logLevel=INFO
    networks:
      - nyx
    ports:
      - '80:80'
      - $NUXT_PORT:$NUXT_PORT
      - '443:443'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/traefik/traefik.toml:/traefik.toml
      - ./docker/traefik/acme.json:/acme.json
    labels:
      - "traefik.docker.network=nyx"
      - "traefik.port=8080"

networks:
  nyx:
    external: true